@{
    string backgroundImage = null;
    if (Document.ContainsKey(WebKeys.Image))
    {
        backgroundImage = $"background-image: url(\"{Context.GetLink(Document.GetString(WebKeys.Image))}\")";
    }
    bool isPost = Outputs[nameof(Statiq.Web.Pipelines.Content)].FilterSources(Context.GetString("PostSources")).Contains(Document);
    string description = Document.WithoutSettings().GetString("Lead") ?? Document.WithoutSettings().GetString(WebKeys.Description);
}
<header class="masthead" style="@backgroundImage">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="@(isPost ? "post-heading" : "site-heading")">
          <h1>@Document.GetString("Title")</h1>
          @if (!string.IsNullOrEmpty(description))
          {
            <h2 class="subheading">@description</h2>
          }
          @if (isPost)
          {
              // This is a blog post so show extra data
              <div class="meta">Published on @Document.GetDateTime(WebKeys.Published).ToLongDateString()</div>
          }
        </div>
      </div>
    </div>
  </div>
</header>