@{
  string mastheadStyle = null;
  string mastheadClass = null;
  var image = Document.GetString(WebKeys.Image, string.Empty);
  if (string.IsNullOrEmpty(image))
  {
    mastheadClass="masthead no-image";
  }
  else
  {
    mastheadClass="masthead";
    mastheadStyle = $"background-image: url(\"{Context.GetLink(image)}\")";
  }
  string description = Document.WithoutSettings().GetString("Lead") ?? Document.WithoutSettings().GetString(WebKeys.Description);
  string title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
  bool isPost = Document.GetBool("IsPost") && !Document.GetBool("IsPostArchive");
  bool isPage = Document.GetBool("IsPage");
  var imageAttribution = Document.GetString("ImageAttribution", string.Empty);
  var hasImageAttribution = !string.IsNullOrEmpty(imageAttribution);
}
<header class="@mastheadClass" style="@mastheadStyle">
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-12">
        <div class='@(isPost ? "post-heading" : isPage ? "page-heading" : "site-heading")'>
          <h1>
            @title
            @if (Document.GetInt(Keys.Index) > 1)
            {
              <small>(Page @Document.GetString(Keys.Index))</small>
            }
          </h1>
          @if (!string.IsNullOrEmpty(description))
          {
            <span class="subheading">@description</span>
          }
          @if (isPost)
          {
            // This is a blog post so show extra data
            <div class="meta">Published on @Document.GetDateTime(WebKeys.Published).ToLongDateString(Context)</div>
            @if (Document.ContainsKey("Tags"))
            {
              <div class="mt-3">
                @foreach (IDocument tag in Document.GetList<string>("Tags")
                  .Select(x => Outputs["tags/index.html"].First().GetChildren().FirstOrDefault(y => y.GetTitle().Equals(x, StringComparison.OrdinalIgnoreCase)))
                  .Where(x => x != null))
                {
                  <a href="@Context.GetLink(tag)" class="badge text-bg-light"> @tag.GetTitle()</a>
                }
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
  @if (hasImageAttribution)
  {
    <div class="image-attribution badge text-bg-secondary rounded-pill"><?# Markdown ?>@Html.Raw(imageAttribution)<?#/ Markdown ?></div>
  }
</header>
